@font-face {
    font-family: 'Buster';
    src: url('./assets/Block\ Buster.otf');
}

p{
    font-size: 50px;
    font-weight: 400;
    font-family: 'Buster';
    /* font-style: ; */
}
*{
    margin: 0;
    padding: 0;
    font-family: 'lato';
}

